@font-face {
  font-family: "Bondi";
  src: url("./static/fonts/Bondi.eot");
  src: url("./static/fonts/Bondi.eot?#iefix") format("embedded-opentype"),
    url("./static/fonts/Bondi.woff2") format("woff2"),
    url("./static/fonts/Bondi.woff") format("woff"),
    url("./static/fonts/Bondi.ttf") format("truetype"),
    url("./static/fonts/Bondi.svg#Bondi") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
